.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: #222;
  background-size: cover;
}

.screen > * {
  width: 100%;
  max-width: 400px;
}
