.form-container {
  background: white;
  border-radius: 3px;
  display: flex;
  padding: 15px;
  flex-direction: column;
}

.form-container > header {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 20px;
  width: 100%;
}

.form-container > section > form .btn-wide {
  width: 100%;
}

.form-container > section > form .right {
  float: right;
}

i.material-icons {
  font-size: 1em;
}
