<nz-layout class="layout">
  <nz-header>
    <div class="logo">FPL Vertex!</div>
    <div nz-menu
         class="menu"
         nzTheme="dark"
         nzMode="horizontal">
      <div class="spacer"></div>
      <div class="menu-item"
           [ngClass]="{ selected: meta.authUser }">
        <auth-user-informator (selected)="meta.authUser = $event"></auth-user-informator>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <div class="content">
      <nz-avatar nzIcon="anticon anticon-user"
                 [nzSrc]="user.profile.image"></nz-avatar>
      <div>
        <h2>{{user.profile.name + ' ' + user.profile.lastName}}</h2>
        <p>{{user.email}}</p>
      </div>
    </div>
  </nz-content>
  <nz-footer>Vasen ©2018</nz-footer>
</nz-layout>
