<div nz-popover
     class="btn"
     nzTrigger="click"
     nzPlacement="bottomRight"
     (nzVisibleChange)="selected.emit($event)"
     [nzContent]="userInfo">
  <nz-avatar nzIcon="anticon anticon-user"
             [nzSrc]="user.profile.image"></nz-avatar>
</div>
<ng-template #userInfo>
  <div class="card">
    <header>
      <nz-avatar [nzSrc]="user.profile.image"
                 nzIcon="anticon anticon-user"></nz-avatar>
      <div class="info">
        <h4>{{ user.profile.name }}</h4>
        <p>{{ user.email }}</p>
      </div>
    </header>
    <nz-button-group>
      <button nz-button
              title="Your account">
        <i class="anticon anticon-user"></i>
      </button>
      <button nz-button
              title="Logout"
              nzType="danger"
              routerLink="/sign">
        <i class="anticon anticon-logout"></i>
      </button>
    </nz-button-group>
  </div>
</ng-template>